h1
{
color: #373991;
font-family: 'Trocchi', serif;
font-size: 45px;
font-weight: normal;
line-height: 48px;
margin: 0;
text-align: center;
}

h2.store
{
    color: #4B6A80;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 24px;
    text-align: center;
}

body
{
    background-color: lightblue;
    color: rgb(37, 37, 87);
}

input[type=submit]
{
    background-color: #4caf50;
    color: white;
    margin: 8px 0;
    cursor: pointer;
}

input[type=submit]:hover
{
    background-color: #45a049;
}

input[type=reset]
{
    background-color: #AD3939;
    color: white;
    margin: 8px 0;
    cursor: pointer;
}

input[type=reset]:hover
{
    background-color: rgb(155, 35, 35);
}

td.header
{ 
    background-color: #87E274; 
}

table
{ 
    background-color: #CC92CF; 
    border: white; text-align: center; 
}

table.table2
{ 
    border-top: none;
    border: white; 
}

th
{
     font-weight: normal;
}

th.header
{ 
    background-color: #87E274; 
}